@font-face {
    font-family: newspaper;
    src: url("fonts/steelfish.otf");
}

/* Reset default margins and padding */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Set the background color */
body {
    background-color: #faf8d7;
    font-family: Arial, Helvetica;
}

/* Style the container */
.centered-element {
    text-align: center;
    padding-bottom: 5vw;
}

.title-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vw;
    background-color: transparent;
}

.title-element p {
    font-family: newspaper;
    transform:scale(2, 2);
    height: 10vw;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.3vw;
    margin-bottom: auto;    
}

.title-element::after {
   content: "";
   display: block;
   height: 4px;
   background-color: black;
   margin-top: 10vw;
   width: 80vw;
   margin-left: auto;
   margin-right: auto;
}

.article {
    position: relative;
    padding-bottom: 30px; /* Adjust this value according to your design needs */
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    display: flex; /* Use flexbox for layout */
    align-items: flex-end /* Center items vertically */
    gap: 20px; /* Space between the image and the text content */
    background-color: transparent;
}

.article-body {
    display: block;
    justify-content: center;
    width: 40vw;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.35vw;
    bottom: 100px;
}

.article-right {
    text-align: right;
    justify-content: right;
    padding-right: 50px;
}


.article-right::after{
    content: "";
    display: flex;
    width: 35vw;
    bottom: 5px;
    height: 4px;
    background-color: black;
}

.article-right p{
    max-width: 30vw;
    text-align: right;
    margin-left: auto;
    margin-right: 0;

}


.article-left p{
    max-width: 30vw;
    text-align: left;
    margin-left: 0;
    margin-right: auto;

}

.article-left{
	text-align: left;
    justify-content: left;
    padding-left: 50px;
}

.article-left::after{
    content: "";
    display: flex;
    width: 35vw;
    bottom: 5px;
    height: 4px;
    background-color: black;
}

.article img {
    disply: inline-block;
    width: 15vw; /* Set width */
    height: 15vw; /* Set height */
    object-fit: cover; /* Ensures image retains its aspect ratio, cropping if needed */
}

.article a{
    display: flex; /* Use flexbox for layout */
    align-items: flex-end /* Center items vertically */
    gap: 20px; /* Space between the image and the text content */
    font-size: 1.35vw;
    max-width: 30vw;

}

.article-content {
    display: inline-block;
    background-color: transparent;
    font-family: 'Helvetica';
    gap: 10px; /* Space between the title and the description */
}

.article-title {
    font-size: 1.5em; /* Adjust size as needed */
    font-weight: bold;
    background-color: transparent;
}

.date {
    font-size: 1.35vw;
    top: 20vw;
    text-align: right;
    position: relative;
}

.link {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    text-align: right;
    color: black;
    font-family: newspaper;
    font-size: 3vw;
}

.link a:hover {
    color: #141414;
}

.link a:visited {
    color: black;
}

.link a:active {
    color: black;
}


.code-snippet {
    display: block;
    background: rgba(0, 0, 0, .125);
    width: 75%;
    margin: auto;

}


/* Style the full-width title */
header, nav, ul {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    text-align: right;
    color: black;
    font-family: newspaper;
    font-size: 40px;
}

canvas {
    z-index: -1;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: #faf8d7; /* Same as body background */
    letter-spacing: calc((100% - 50px) / 5); /* Divide the available width by the number of letters */
}

/* Style the image */
img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}