/* Reset default margins and padding */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Set the background color */
body {
    background-color: #faf8d7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the container */
.centered-element {
    text-align: center;
    padding-bottom: 150px;
}

.title-element {
   font-size: 15vw;
   line-height: 0.65;
}

.title-element::after {
   content: "";
   display: block;
   width: 75vw;
   bottom: -50px;
   height: 4px;
   background-color: black;
   position: relative;
   left: 50%; /* Position the left edge of the ::after element at the center of the .title-element */
   transform: translateX(-50%);
}

.article {
    position: relative;
    width: 50%; /* Takes up the full width of its container */
    padding-bottom: 30px; /* Adjust this value according to your design needs */
    left: 20%;
    display: flex; /* Use flexbox for layout */
    align-items: flex-start; /* Center items vertically */
    gap: 20px; /* Space between the image and the text content */
}

.article-body {
    width: 40vw;
    height: 15vw;
    font-size: 20vw;
}

.article-left{
	text-align: left;
    left: 25%;
}

.article-right {
	text-align: right;
    right: 75%;
}

.article img {
    position: relative;
    width: 15vw; /* Set width */
    height: 15vw; /* Set height */
    object-fit: cover; /* Ensures image retains its aspect ratio, cropping if needed */
}

.article-content {
    width: calc(100% - 5vw); /* Adjust width, considering image width and gap */
    display: flex;

    flex-direction: column;
    gap: 10px; /* Space between the title and the description */
}

.article-content::after {
    content: "";
    display: block;
    width: 45vw;
    bottom: 5px;
    height: 4px;
    background-color: black;
    position: relative;
}

.article-title {
    font-size: 1.5em; /* Adjust size as needed */
    font-weight: bold;
}




/* Style the full-width title */
header, nav, ul, li, a {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    text-align: right;
    color: black;
    font-family: 'Helvetica';
    font-size: 40px;
}

a {
    font-size: 3vw;
}

a:hover {
    color: #141414;
}

a:visited {
    color: black;
}

a:active {
    color: black;
}


h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: #faf8d7; /* Same as body background */
    letter-spacing: calc((100% - 50px) / 5); /* Divide the available width by the number of letters */
}

/* Style the image */
img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}