@font-face {
    font-family: newspaper;
    src: url("fonts/PlayfairDisplay-VariableFont_wght.ttf");
}

/* Reset default margins and padding */
body, h1 {
    margin: 0;
    padding: 0;
}

/* Set the background color */
body {
    background-color: #faf8d7;
    overflow-x: hidden;
}

/* Style the container */
.centered-element {
    padding-bottom: 1vw;
    text-align: center;
}

.title-element {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 15vw;
    background-color: transparent;
}

.title-element p {
    font-family: newspaper;
    height: 10vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;    
}

.title-element::after {
   content: "";
   display: block;
   height: 4px;
   background-color: black;
   width: 70vw;
   margin-left: auto;
   margin-right: auto;
}

.article {
    position: relative;
    padding-bottom: 30px; /* Adjust this value according to your design needs */
    margin-left: auto;
    margin-right: auto;
    width: 60vw;
    display: flex; /* Use flexbox for layout */
    align-items: flex-end; /* Center items vertically */
    background-color: transparent;
}

.article-container {
    display: flex;
    max-width: 60vw;
    height: auto;
    line-height: 4vw;
    align-items: flex-end;
    margin-left: 19.5vw;
    margin-right: auto;
}

.article-title-head {
    height: auto;
    font-family: newspaper;
    max-width: 30vw;
    margin-bottom: 1vw;
    margin-top: 0;
    align-self: flex-end;
    text-align: left;
    font-size: 4vw  !important
}

.article-title-desc {
    font-family: newspaper;
    max-width: 40vw;
    margin-left: 0.25vw;
    margin-top: 0;
    margin-bottom: 1vw;
    position: relative;
    line-height: 2vw;
    font-size: 1.5vw !important;
    
}

.article-body {
    display: block;
    justify-content: center;
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.35vw;
    bottom: 100px;
    padding: 2.5vw;
    background-color: rgba(0, 0, 0, .125); 

}

.article-body img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 50%;
    font-size: 75%;
}

.article-right {
    text-align: right;
    justify-content: right;
    padding-right: 50px;
}


.article-right::after{
    content: "";
    display: flex;
    width: 35vw;
    bottom: 5px;
    height: 4px;
    background-color: black;
}

.article-right p{
    max-width: 30vw;
    text-align: right;
    margin-left: auto;
    margin-right: 0;

}


.article-left p{
    max-width: 30vw;
    text-align: left;
    margin-left: 0;
    margin-right: auto;

}

.article-left{
	text-align: left;
    justify-content: left;
    padding-left: 50px;
}

.article-left::after{
    content: "";
    display: flex;
    width: 35vw;
    bottom: 5px;
    height: 4px;
    background-color: black;
}

.article img {
    disply: inline-block;
    width: 15vw; /* Set width */
    height: 15vw; /* Set height */
    object-fit: cover; /* Ensures image retains its aspect ratio, cropping if needed */
}

.article a{
    display: flex; /* Use flexbox for layout */
    align-items: flex-end /* Center items vertically */
    gap: 20px; /* Space between the image and the text content */
    font-size: 1.35vw;
    max-width: 30vw;

}

.article-content {
    display: inline-block;
    background-color: transparent;
    letter-spacing: 0.05vw;
    gap: 10px; /* Space between the title and the description */
}

.article-title {
    font-size: 1.5em; /* Adjust size as needed */
    font-weight: bold;
    background-color: transparent;
}

.date {
    font-size: 1.35vw;
    width: 70vw;
    text-align: right;
    position: relative;
    top: 8vw !important;

}

.link {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    text-align: right;
    color: black;
    font-size: 3vw;
    width: auto;
    padding-left: 1vw;
}

.link a:hover {
    color: #141414;
}

.link a:visited {
    color: black;
}

.link a:active {
    color: black;
}


.code-snippet {
    display: block;
    background: rgba(0, 0, 0, .125);
    width: 75%;
    margin: auto;

}

.title-in-text {
    font-size: 2vw;
}

.bullet {
	margin-left: 2vw;
}

.footer {
    display: flex;
    width: 63vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: right;
    height: 5vw;
}

.header {
    position: sticky !important;
    top: 0px;
    z-index: 1000;
    padding: 0;
}

.header a {
    font-size: 1.5vw;
    
}

.segment {
    content: "";
    height: 2px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    margin-top: 1vw;
    margin-bottom: 3vw;
}

.header-segment {
    content: "";
    height: 2px;
    background-color: black;
    margin-left: auto;
    margin-right: 0;
    width: 22.5vw;
    margin-top: 0.5vw;
    margin-bottom: 3vw;    
}

/* Style the full-width title */
header, nav, ul {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    list-style-type: none;
    position: relative;
    text-align: right;
    color: black;
    font-family: newspaper;
    font-size: 40px;
}

li {
    display: flex;
    justify-content: right;
}

canvas {
    z-index: -1;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: #faf8d7; /* Same as body background */
    letter-spacing: calc((100% - 50px) / 5); /* Divide the available width by the number of letters */
}

h2 {
    display: flex;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #faf8d7; /* Same as body background */
    height: auto; 
    margin: 0;
}
/* Style the image */
img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}